<!DOCTYPE>
<head>
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/admin.css">
</head>
<body>
    <div class="ui segment">
      <div class="ui secondary menu" id="menu">
          <a href="/api/add" class="item">Add Essay</a>
          <a href="../home/essay" class="item">Homepage</a>
      </div>
      <div class="ui divided list">
          <h2>文章列表</h2>
            <% lists.forEach(function(list) { %>
               <div class="item">
               <h3 class="header"><%= list.title %></h4>
               <div class="ui primary button in"><%- list.editURL %></div>
               <%- list.delURL %>
                   <div class="description">
                        <%= list.content %>
                   </div>
               </div>
            <% }) %>
        </div>
    </div>
</body>
<script>
var list = document.getElementsByClassName("list")

list[0].onclick =  function del(event) {
    var el = event.target
    if(event.target.className === "ui secondary button in del") {
        if(window.XMLHttpRequest) {
            xhr = new XMLHttpRequest()
        } else {
            xhr = new ActiveXObject('Microsoft.XMLHTTP')
        }
        var url = event.target.attributes.href.nodeValue
        xhr.open('GET', url, true)
        xhr.send()
        xhr.onreadystatechange = function() {
            if(xhr.readyState === 4) {
                if(xhr.status >= 200 && status < 300) {
                    var response = JSON.parse(xhr.responseText)
                    if(response.success === 1){
                        el = el.parentNode
                        el.parentNode.removeChild(el)
                    } else {
                        alert("删除失败")
                    }
                }
            }
        }
    }
}
</script>