<!DOCTYPE>
<head>
    <title>Dawning Lee</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/homepage.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/semantic.min.css">
</head>
<body>
<nav>
    <div id="title">
        Dawning Lee's 
    </div>
    <div class="ui secondary menu" id="menu">
        <a href="/home/essay" class="active item">Essay</a>
        <a href="#" class="item">Album</a>
    </div>
</nav>

    <div id="essay">
        <%- include('essay-item') %>
    </div>
</body>