<!DOCTYPE>
<head>
    <title>Dawning Lee</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>
<body>
    <div id="text-area">
        <div>
            Welcome to
        </div>
        <div>
            Dawning Lee's Blog
        </div>
        <ul>
            <li ><a href='/home/essay' class="ui basic button">Essay</a></li>
            <li ><a href='https://github.com/EpplaLee' class="ui basic button">Github</a></li>
            <li ><a href='http://weibo.com/5382497138/' class="ui basic button">Weibo</a></li>
        </ul>
    </div>
</body>
