nav {
    background-image: url(../images/header.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    position: relative;
}

#title {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 35px;
    right: 30px;
    padding: 20px;
    background-color: rgba(11,11,11, 0.2);
    width: 350px;
    text-align: center;
}
#menu {
    position: absolute;
    right: 30px;
    bottom: 20px;
    font-size: 20px;
}

#essay {
    width: 90%;
    margin: 20px auto;
}

#essay-item > pre {
    white-space: pre-wrap;
}